.text-logo {
  font-size: 20vw;
  /* Adjust font size to viewport width */
  font-weight: bold;
  mix-blend-mode: darken;
  .dark {
    mix-blend-mode: lighten;
  }
}

.text-logo-1 {
  color: rgb(var(--primary));
}

.text-logo-2 {
  color: rgb(var(--secondary));
}

.smaller {
  font-size: 3vw;
  /* Adjust font size to viewport width */
}

.med {
  font-size: 7vw;
  /* Adjust font size to viewport width */
}

.bottom {
  top: 30vw;
  /* Adjust position to viewport width */
}

.text-logo-3 {
  color: rgb(var(--accent));
}

.down-6 {
  top: 6vw;
  /* Adjust position to viewport width */
}

@media (min-width: 1024px) {
  .text-logo {
    font-size: 200px;
    /* Fixed size for larger screens */
  }

  .smaller {
    font-size: 30px;
    /* Fixed size for larger screens */
  }

  .med {
    font-size: 70px;
    /* Fixed size for larger screens */
  }

  .bottom {
    top: 300px;
    /* Fixed position for larger screens */
  }

  .down-6 {
    top: 60px;
    /* Fixed position for larger screens */
  }
}
